@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(227, 227, 202);
}

.main-container{
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 1rem;
}

img.product-image {
    width: 15rem;
    height: 25rem;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.product-info{
    margin: 1.4rem;
}

.item-type{
    font-family: 'Montserrat',  sans-serif;
    font-weight: 500;
    color: rgba(138, 138, 138, 0.916);
    letter-spacing: 0.15rem;
    font-size: 0.8rem;
}

.product-title{
    line-height: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Fraunces', serif;
    font-size: 1.8rem;
}

.product-description{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
    color: rgba(138, 138, 138, 0.916);
    margin-right: 1.8rem;
    margin-bottom: 1rem;
}

.price-data{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-bottom: 1rem;
}

.new-price{
    font-family: 'Fraunces', serif;
    margin-right: 1rem;
    font-size: 1.8rem;
    color: rgb(66, 141, 66);
}

.old-price{
    color: rgba(138, 138, 138, 0.916);
    text-decoration: line-through;
    font-size: 0.8rem;
}

button.add-to-cart{
    background-color: rgb(47, 138, 47);
    border: none;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    height: 2.5rem;
    border-radius: 0.5rem;
}

img.cart{
    margin-right: 0.4rem;
    width: 0.75rem;
}

@media screen and (max-width: 510px){
    .main-container{
        width: 18rem;
        flex-direction: column;
    }
    
    img.product-image {
        width: 18rem;
        height: 12rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 0;
    }
    
    .product-title{
        font-size: 1.7rem;
    }
}

